.main__content-block {
    &__col {
        margin-bottom: 3em;
        &:nth-child(2n + 1) {
            margin-left: 0;
            clear: left;
        }
    }

    &__link {
        position: relative;
        text-decoration: none;
        background-color: #fbf7de;
        padding: 2em;
        border-radius: 30px;
        min-height: 435px;
        display: block;
    }
    &__title {
        font-family: "Playfair Display", serif;
        color: #2f2f2f;
        font-size: 28px;
        line-height: 33px;
        max-width: 70%;
        margin: 0;
        transform: scale(1);
    }

    &__list {
        margin-top: 18px;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 24px;
        letter-spacing: 2px;
        color: #6b6b6b;

        & li {
            position: relative;
            float: left;
            list-style: none;
            margin-right: 12px;
            &:after {
                content: "|";
                position: absolute;
                top: 0;
                right: -8px;
            }
            &:last-child::after {
                content: none;
            }
        }
    }

    &__logo {
        position: absolute;
        right: -20px;
        bottom: -20px;
        z-index: 10;
        background-color: #fff;
        width: 150px;
        height: 150px;
        border-radius: 60px;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
        background-size: 90%;
        background-image: url(../../assets/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        
    }

    &__shape {
        position: absolute;
        bottom: 0;
        right: 0;

        &-filled {
            max-width: 90%;
            max-height: 408px;
            height: 100%;
        }
        &-outline {
            position: absolute;
            z-index: -1;
            right: 0;
            bottom: 0;
            width: auto;
            max-height: 420px;
            height: 100%;
        }
    }
}