.hero__shape {
  position: absolute;
  right: 0;
  height: 100vh;

  &-filled{
    max-height: 891px;
    height: 100%;
    max-width: 100%;

    & path {
      animation: slideIn 3s forwards;
    }
  }

  &-outline{
    position: absolute;
    top: 0;
    right: 5%;
    max-height: 861px;
    height: 100%;
    width: 100%;

    & path {
      animation: slideIn 3s forwards;
    }
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(450px);
  }
  100% {
  }
}