.hero__shape {
  position: absolute;
  right: 0;
  height: 100vh;

  &-filled {
    max-height: 891px;
    height: 100%;
    max-width: 100%;
  }

  &-outline {
    position: absolute;
    top: 0;
    right: 5%;
    max-height: 861px;
    height: 100%;
    width: 100%;
  }
}

@keyframes monitorIn{

  from { top: -100; left: -100; }
  to   { top: 0; left: 0; }
}
