@import "../../style/mixins.scss";
.main {
    position: relative;
    margin: 120px 0;

    @include desktop-size {
        margin: 200px 0;
    }

    &__content {
        position: relative;
        padding: 0 5%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;

        @include desktop-size {
            padding: 0 8%;
        }

        &-block {
            display: block;
            grid-row-gap: inherit;
            position: relative;

            @include desktop-size {
                display: grid;
                grid-template-columns: repeat(auto-fit, 46%);
                grid-gap: 5%;
            }

            &__left {
                margin-bottom: 3em;
                @include desktop-size {
                    clear: left;
                    float: left;
                    margin-bottom: 3em;
                }

                &-image {
                    position: relative;
                    border-radius: 30px;
                    overflow: hidden;
                    box-shadow: 0 10px 50px rgba(38, 45, 56, 0.15);

                    & img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }

                &-overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0.3;
                    transition: 0.5s ease;
                    background-color: #008cba;
                }
            }

            &__right {
                margin-bottom: 3em;

                @include desktop-size {
                    transform: translateY(190px);
                }

                &-description {
                    & p {
                        @include paragraph-mobile-style;

                        @include desktop-size {
                            @include paragraph-tablet-style;
                        }
                    }
                }
            }
        }
    }
}

.side {
    position: relative;
    margin: 100px 0;

    @include desktop-size {
        margin: 200px 0;
    }

    &__content {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        padding: 0 5%;

        @include desktop-size {
            padding: 0 8%;
        }

        &-title {
            margin-bottom: 1.9em;
            text-align: center;
            @include header-mobile-style;

            @include desktop-size {
                text-align: left;
                @include header-tablet-style;
            }
        }

        &-block {
            display: block;

            @include desktop-size {
                display: grid;
                grid-template-columns: repeat(auto-fit, 31%);
                grid-gap: 3%;
            }

            &__div {
                margin-bottom: 5em;
            }

            &__icon {
                position: relative;
                margin-bottom: 2em;
                max-width: 120px;
                margin-left: auto;
                margin-right: auto;
                transform: scale(1);

                &::after {
                    content: "";
                    position: absolute;
                    top: 30px;
                    left: 20px;
                    width: 100px;
                    height: 80px;
                    background-color: #daf8ff;
                    z-index: -1;
                }
                & img {
                    max-width: 120px;
                    display: block;
                    height: auto;
                }
            }

            &__title {
                text-align: center;
                @include subheader-mobile-style;
            }

            &__text {
                text-align: center;
                @include paragraph-mobile-style;
            }

            &__code {
                text-align: center;

                &-title {
                    color: #14dfdf;
                }
                &-list {
                    text-align: center;
                    padding: 0;
                    list-style: none;
                }
                &-listItem {
                    font-size: 18px;
                    line-height: 36px;
                    color: #6b6b6b;
                }
            }
        }
    }
}
