.main {
    position: relative;
    margin: 250px 0;

    &__content {
        position: relative;
        padding: 0 8%;
        max-width: 1440px;

        &-block {
            display: grid;
            grid-template-columns: repeat(auto-fit, 50%);
            // grid-gap: 5%;
            grid-row-gap: inherit;
            position: relative;

            &__left {
                clear: left;
                float: left;
                display: block;
                margin-right: 20px;

                &-image {
                    position: relative;
                    border-radius: 30px;
                    overflow: hidden;
                    box-shadow: 0 10px 50px rgba(38, 45, 56, 0.15);

                    & img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                &-overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0.3;
                    transition: 0.5s ease;
                    background-color: #008cba;
                }
            }

            &__right {
                transform: translateY(450px);

                &-description {
                    & p {
                        font-size: 18px;
                        line-height: 36px;
                        color: #6b6b6b;
                    }
                }
            }
        }
    }
}

.side {
    position: relative;
    margin: 200px 0;

    &__content {
        position: relative;
        padding: 0 8%;

        &-title {
            font-size: 60px;
            line-height: 72px;
            margin-bottom: 60px;
            color: #2f2f2f;
            font-family: "Playfair Display", serif;
        }
        &-block {
            display: grid;
            grid-template-columns: repeat(auto-fit, 33%);

            &__icon {
                position: relative;
                margin-bottom: 2em;
                max-width: 120px;
                margin-left: auto;
                margin-right: auto;
                transform: scale(1);

                &::after {
                    content: "";
                    position: absolute;
                    top: 15px;
                    left: 20px;
                    width: 120px;
                    height: 110px;
                    background-color: #daf8ff;
                    z-index: -1;
                }
                & img {
                    max-width: 120px;
                    display: block;
                    height: auto;
                }
            }

            &__title , &__text{
                font-size: 18px;
                line-height: 27px;
                text-align: center;
            }
            &__text {
                color: #6b6b6b;
            }

            &__code {
                text-align: center;

                &-title {
                    color: #daf8ff;
                }
                &-list{
                    text-align: center;
                    padding: 0;
                    list-style: none;
                }
                &-listItem {
                    font-size: 18px;
                    line-height: 36px;
                    color: #6b6b6b;
                }
            }
            
        }
    }
}
