//Font Typography
@font-face {
  font-family: Playfair;
  src: url("../assets/font/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: Playfair-bold;
  // font-weight:800;
  src: url("../assets/font/static/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: Playfair-bolder;
  src: url("../assets/font/static/PlayfairDisplay-ExtraBold.ttf");
}

// //Screen Sizes
// @mixin tablet-size {
//   @media (min-width: 768px) {
//     @content;
//   }
// }
// @mixin desktop-size {
//   @media (min-width: 1440px) {
//     @content;
//   }
// }

// // Display Styles
// @mixin flex-display-column {
//   display: flex;
//   flex-direction: column;
//   height: auto;
// }

// @mixin flex-display-row {
//   display: flex;
//   flex-direction: row;
//   height: auto;
// }


// // Typography MOBILE Styles
// @mixin header-mobile-style {
//   margin: 0;
//   font-size: 24px;
//   line-height: 32px;
//   font-family: $bold-font;
// }
// @mixin subheader-mobile-style {
//   margin: 0;
//   font-size: 14px;
//   line-height: 22px;
//   font-family: $demibold-font;
// }

// @mixin pargraph-mobile-style {
//   margin: 0;
//   font-size: 13px;
//   line-height: 22px;
//   font-family: $regular-font;
// }

// // Typography TABLET Styles
// @mixin header-tablet-style {
//   font-size: 36px;
//   line-height: 44px;
//   font-family: $bold-font;
// }
// @mixin header2-tablet-style {
//   font-size: 24px;
//   line-height: 32px;
//   font-family: $bold-font;
// }

// @mixin subheader-tablet-style {
//   font-size: 16px;
//   line-height: 24px;
//   font-family: $demibold-font;
// }

// @mixin pargraph-tablet-style {
//   font-size: 14px;
//   line-height: 22px;
//   font-family: $regular-font;
// }