//Font Typography
@font-face {
  font-family: playfair;
  src: url("../assets/font/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: playfairBold;
  // font-weight:800;
  src: url("../assets/font/static/PlayfairDisplay-SemiBold.ttf");
}
@font-face {
  font-family: playfairBolder;
  src: url("../assets/font/static/PlayfairDisplay-Bold.ttf");
}

//Screen Sizes
@mixin tablet-size {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop-size {
  @media (min-width: 1024px) {
    @content;
  }
}

// Typography MOBILE Styles
@mixin header-mobile-style {
  font-size: 36px;
  line-height: 45px;
  font-family: playfairBolder;
  color: #2f2f2f;
}
@mixin subheader-mobile-style {
  font-size: 20px;
  line-height: 22px;
  font-family: playfairBold;
  color: #2f2f2f;
}

@mixin paragraph-mobile-style {
  font-size: 18px;
  line-height: 36px;
  font-family: playfair;
  color: #6b6b6b;
}

// Typography TABLET Styles
@mixin header-tablet-style {
  font-size: 60px;
  line-height: 72px;
  font-family: playfairBolder;
  color: #2f2f2f;
}

@mixin subheader-tablet-style {
  font-size: 16px;
  line-height: 24px;
  font-family: playfairBold;
}

@mixin paragraph-tablet-style {
  font-size: 18px;
  line-height: 36px;
  font-family: playfair;
  color: #6b6b6b;
}