.content {
    position: relative;
    padding-top: 0;
    height: 100vh;

    &__shape {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;

        &-outline1 {
            max-height: 1080px;
            max-width: 100%;

            & path {
                animation: slideYellow 3s forwards;
            }
        }

        &-blueShape path {
            animation: slideBlue 3s forwards;
        }

        &-outline2 {
            position: absolute;
            top: 0;
            right: -20px;
            max-height: 1164px;
            width: 100%;

            & path {
                animation: slideYellow 3s forwards;
            }
        }

        &-blueOutline path {
            animation: small 10s forwards;
        }
    }

    &__caption {
        position: absolute;
        padding: 0 8%;
        top: 30%;

        &-title {
            color: #2f2f2f;
            font-size: 3.8rem;
            line-height: 1.2;
            white-space: nowrap;
            width: 0;
            margin: 0;
        }
        &-subSection {
            max-width: 45%;
        }
        &-description {
            line-height: 2;
            font-size: 18px;
            color: #6b6b6b;
            margin-bottom: 2em;
        }
    }

    &__caption2 {
        position: relative;
        & img {
            width: 30px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid red;
        }
    }
}
@keyframes slideYellow {
    0% {
        transform: translateX(450px);
    }
    100% {
    }
}

@keyframes slideBlue {
    0% {
        transform: translateX(600px);
    }
}

@keyframes small {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(1.1);
        transform-origin: right;
        opacity: 1;
    }
}
