.m-image {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 10px 50px rgba(38, 45, 56, 0.15);
    opacity: 0.5;
    transform: scale(0.8);
    transition: all, cubic-bezier(0.285, 0.105, 0.465, 1.015), 0.75s;
}
.m-image img {
    width: 100%;
    display: block;
    height: auto;
}
.l-2up__col {
    margin-bottom: 3em;
}
.l-2up,
.l-4up,
.l-5up {
    position: relative;
    display: block;
    display: grid;
            grid-template-columns: repeat(auto-fit, 47.5%);
            grid-gap: 5%;
            grid-row-gap: inherit;
}
.row {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    max-width: 1440px;
}
.section {
    position: relative;
    // margin-top: -250px;
}