.hero {
  position: relative;
  padding-top: 0;
  height: 100vh;

  &__caption {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    padding: 0 8%;
  }

  &__typist {
    position: fixed;
    margin-top: 0;
    top: 40%;
    transform: translateY(-50%);

    &-title {
      color: #2f2f2f;
      font-size: 3.8rem;
      line-height: 1.2;
      white-space: nowrap;
      width: 0;
      margin: 0;
    }

    &-mark {
      color: #81D6E3;
    }
  }

  &__subSection {
    position: fixed;
    top: 58%;
    transform: translateY(-50%);
    max-width: 45%;

    &-description {
      line-height: 2;
      font-size: 18px;
      color: #6b6b6b;
      margin-bottom: 2em;
    }

    &-button {
      position: relative;
      background: none;
      color: #7d53de;
      text-decoration: none;
      border: 0.2em solid #7d53de;
      padding: 0.5em 1em;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        background: #fff;
        height: 0.3em;
        right: 20%;
        top: -0.21em;
        transform: skewX(-45deg);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        background: #fff;
        height: 0.3em;
        left: 20%;
        bottom: -0.25em;
        transform: skewX(45deg);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }
      &:hover {
        &::before {
          right: 80%;
        }
        &::after {
          left: 80%;
        }
      }
    }
  }
}
